{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}展示{% endblock %}

{% block page_content %}
<div class="page-header">
   <h1>Hello, {% if name %}{{ name }}{% else %}Stranger{% endif %}!</h1>
   {% if not known %}
   <p>Pleased to meet you!</p>
   {% else %}
   <p>Happy to see you again!</p>
   {% endif %}

   '<img src="static/000002.png" />'
   '<img src="static/000063.png" />'
   '<img src="static/000100.png" /> '
   '<img src="static/000338.png" /> '
   '<img src="static/000488.png" /> '
   '<img src="static/000651.png" /> '
   '<img src="static/000725.png" /> '
   '<img src="static/000729.png" /> '
   '<img src="static/000786.png" /> '
   '<img src="static/000858.png" /> '
   '<img src="static/000876.png" /> '
   '<img src="static/000895.png" /> '
   '<img src="static/002008.png" /> '
   '<img src="static/002027.png" /> '
   '<img src="static/002032.png" /> '
   '<img src="static/002049.png" /> '
   '<img src="static/002081.png" /> '
   '<img src="static/002186.png" /> '
   '<img src="static/002271.png" /> '
   '<img src="static/002281.png" /> '
   '<img src="static/002310.png" /> '
   '<img src="static/002352.png" /> '
   '<img src="static/002372.png" /> '
   '<img src="static/002415.png" /> '
   '<img src="static/002458.png" /> '
   '<img src="static/002460.png" /> '
   '<img src="static/002493.png" /> '
   '<img src="static/002507.png" /> '
   '<img src="static/300003.png" /> '
   '<img src="static/300070.png" /> '
   '<img src="static/300498.png" /> '
   '<img src="static/600009.png" /> '
   '<img src="static/600018.png" /> '
   '<img src="static/600019.png" /> '
   '<img src="static/600028.png" /> '
   '<img src="static/600029.png" /> '
   '<img src="static/600030.png" /> '
   '<img src="static/600031.png" /> '
   '<img src="static/600104.png" /> '
   '<img src="static/600111.png" /> '
   '<img src="static/600176.png" /> '
   '<img src="static/600183.png" /> '
   '<img src="static/600196.png" /> '
   '<img src="static/600276.png" /> '
   '<img src="static/600298.png" /> '
   '<img src="static/600309.png" /> '
   '<img src="static/600362.png" /> '
   '<img src="static/600398.png" /> '
   '<img src="static/600487.png" /> '
   '<img src="static/600497.png" /> '
   '<img src="static/600498.png" /> '
   '<img src="static/600518.png" /> '
   '<img src="static/600519.png" /> '
   '<img src="static/600547.png" /> '
   '<img src="static/600584.png" /> '
   '<img src="static/600585.png" /> '
   '<img src="static/600600.png" /> '
   '<img src="static/600612.png" /> '
   '<img src="static/600660.png" /> '
   '<img src="static/600703.png" /> '
   '<img src="static/600741.png" /> '
   '<img src="static/600754.png" /> '
   '<img src="static/600887.png" /> '
   '<img src="static/600900.png" /> '
   '<img src="static/601006.png" /> '
   '<img src="static/601012.png" /> '
   '<img src="static/601088.png" /> '
   '<img src="static/601111.png" /> '
   '<img src="static/601318.png" /> '
   '<img src="static/601390.png" /> '
   '<img src="static/601398.png" /> '
   '<img src="static/601600.png" /> '
   '<img src="static/601607.png" /> '
   '<img src="static/601636.png" /> '
   '<img src="static/601668.png" /> '
   '<img src="static/601766.png" /> '
   '<img src="static/601888.png" /> '
   '<img src="static/601919.png" /> '
   '<img src="static/603019.png" /> '
   '<img src="static/603259.png" /> '
   '<img src="static/603288.png" /> '
   '<img src="static/603799.png" /> '
   '<img src="static/603833.png" /> '
   '<img src="static/603986.png" />'
</div>
{{ wtf.quick_form(form) }}
{% endblock %}
